.body-container{
    background-color: grey;
    position: relative;
    height: fit-content;
     display: flex;
     gap: 15px;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin-top: 50px;
}
 
.body-container h1{
    color: rgb(75, 1, 95);
    text-align: center;
    position: absolute;
    top: 0;
   
    justify-content: start;
}
.body-container h1::after{
    display: block;
    content: '';
    width: 200px;
    background-color: rgb(40, 22, 44);
    height: 3px;
     
    margin: auto;
}
 